@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
.container1 {
    display: flex;
    overflow-x: auto ;
    scroll-snap-type: x mandatory;
  }
  .container1::-webkit-scrollbar{
    display: none;
  }
  .child {
  
    text-align:center;
    height: 85vh;
  }
  .para1{
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    color: whitesmoke;
    height: 53%;
    /* background-color: black; */
 
  }
  .h1h{
    font-family: "Hind", sans-serif;
    font-weight: 900;
    color: whitesmoke;
    
  }
  .h3{
    font-size: 800;
  }
 
  @media screen and (max-width:768px)  {
    .h1{

      font-weight: 500;
      font-size: small;
    }
    .homehearderp{
      font-size: xx-small;
    }
    .child {
      height: 60vh;
    }
  }