@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
.texth1{
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
    color: #ed1b24;
}
.textp1{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color:#69727f;
}
.textp1h4{
    font-weight: 600;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-size: medium;
    color:#69727f;
}
.wh1{
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    color: #ed1b24;
}
.whyp1{
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}
@media screen and (max-width:800px) {
    .texth1{
        font-size: large;
      
    }
    .textp1{
        font-size: small;
    }
}